body {
    background-image: url(image\ for\ background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.me_container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}
h2 { 
    text-align: center;
    color: white;
    text-underline-position: below;
    
}
img {
    width: 500px;
    height: 600px;
    border-radius: 40px;
}
.p1  {
    color: white;
    
}

.me{
    padding: 0px 5px;
    width: 40vw;
    font-size: large;
    text-align: left;
}