.big-box{
    background-color: hsl(3, 92%, 95%);
    gap: 3px;
    padding-top: 5px;
    width: 55vw;
     
}

.imgo{
    width: 120px;
    height: 140px;
    border-radius: 10px;
    }


.box1 {
    display: flex;
    background-color: hsl(359, 79%, 84%);
    width: 50vw;
    padding: 10px;
    margin: 15px;
    gap: 15px;
    border-radius: 15px;
    
}
h1{
    text-decoration: underline;
}

.box2 {
    display: flex;
    background-color: hsl(359, 79%, 84%);
    width: 50vw;
    padding: 10px;
    margin: 15px;
    gap: 15px;
    border-radius: 15px;
    
}
.mic{
    text-align: right;
}
.box3 {
    display: flex;
    background-color:hsl(359, 79%, 84%);
    width: 50vw;
    padding: 10px;
    margin: 15px;
    gap: 15px;
    border-radius: 15px;
    
}

.box4 {
    display: flex;
    background-color: hsl(359, 79%, 84%);
    padding: 10px;
    margin: 15px;
    gap: 15px;
    border-radius: 15px;
    
}
.box5 {
    display: flex;
    background-color: hsl(359, 79%, 84%);
    width: 50vw;
    padding: 10px;
    margin: 15px;
    gap: 15px;
    border-radius: 15px;
    
}