body {
    background-color: white;
    color: white;
}

h1 {
    color: rgb(139, 71, 117);
    text-align: center;
    font-size: 30px;
        
}

img {
    width: 500px;
    height: 600px;
}

p{
    color: black;
}

.fehin {
    background-color: blue;
  
}

.fehin p {
      color: rgb(54, 197, 78);
}
.fehin h1 {
    color: brown;
}
.tomi {
    background-color: darkgrey;
}
.tomi p{
    color: black;
    padding: 5px 10px;
    margin: 50px;

}