/* Basic resets */
*{box-sizing:border-box}
body{
  font-family:Poppins, Arial,Helvetica,sans-serif;
  margin:16px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
  margin-bottom: 30px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;
}

.btn{
  background-color: green;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
}

.btn a{ 
  color: white; 
  text-decoration: none; 
}

.btn:hover { 
  
  background-color: rgb(68, 17, 136);
}

.container2 {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr;
  gap: 10px;
}

.item{
  margin: 5px;
  padding: 10px;
background-color: yellow;
}

.item1{
  grid-column: 1 / 2;
  padding: 15px;
}